nav {
	height: 100%;
	ul {
		display: flex;
		height: 100%;
		padding: 0;
		list-style-type: none;
		align-items: end; /* Align the lang btn to the end */
		margin-right: 10px;
		li {
			align-items: end; /* With flex, allows to display nav on the same line as the title*/
			display: flex;
			a {
				padding: 5px 25px;
				text-align: center;
				width: 150px;
			}
			a:hover {
				font-size: large;
				font-weight: bolder;
			}
		}
	}
}

.lang_btn {
	height: 30px;
	border-radius: 25px;
	background-color: var(--primary-color);
	color: var(--white);
	border: none;
	margin-right: 5px;
	box-shadow: 0 4px 6px var(--shadow), 0 1px 3px var(--shadow);
	width: 30px;
	font-weight: bold;
	box-shadow: 0 4px 6px var(--shadow-pink), 0 1px 3px var(--shadow);
}
